{% extends 'navigation.html' %}

{% block content %}
<div class="login_div">
<h2 style="font-weight: 600; font-size: 18px;">Welcome back!</h2>
<form method="post" id="login_form" style="    display: flex;
gap: 10px;
flex-direction: column;
color: black;
width: 80%;
">
  {% csrf_token %}
  {{ form.as_p }}

  <div style="display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;gap:10px;">
  <label style="display: flex; align-items:center ;color: white;">

    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:5px; margin-right: 5px;"> Remember me
  </label>
  <a style="color: #FF7CAB;">Forgot Password?</a>
</div>
  <button type="submit">Log In</button>
  <br>
  <p style="text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;">Don’t have an account?<a style="color: #FF7CAB;" href="/signup">Register!</a></p>
</form>
</div>
<style>
  #login_form p{
    display: flex;
    flex-direction: column;
  }
  body{
    height: 106vh;
  }
  #login_form p label{
    color: #ffffffd3;
    font-size: 15px;
  }
  #login_form button{
    color: black;
    font-size: 15px;
    background-color: white;
    width: 55%;
    border-radius: 10px;
    align-self: center;
    margin-top: 20px;
    padding: 6px 2px;
    border: none;
  }
  #login_form button:hover{
    color: white;
    background-color: #FF7CAB;
    border: none;
  }
  #login_form button:focus{
    outline: none;
  }
</style>
{% endblock %}